body{
    background: rgb(156, 240, 219);
    width: 100%;
}

/*----------Main----------*/

.principal{
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;
}

.formulario{
    width: 80%;
    margin: 50px auto;
    padding: 100px 20px;
    text-align: center;
    background: rgba(53, 161, 31, 0.5);
}

.labelPalabra{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin: 5px 0 10px;
}

.palabra{
    text-align: center;
    width: 60%;
    font-size: 24px;
    padding: 15px 0;
    text-transform: lowercase;
}

.btnEmpezar{   
    margin: 20px auto;
}

.btnEmpezar button{
    font-size: 26px;
    cursor: pointer;
    color: black;
    padding: 5px 15px;
    border-radius: 1pc;
    background: snow;
}

.btnEmpezar button:hover{
    color: snow;
    background: black;
}

.campo_cantidad{
    margin: 10px auto;
    width: 50%;
    text-align: center;
    padding: 0 auto;
    box-sizing: border-box;
}

.cantidad_letras{
    color: snow;
    font-size: 24px;
    font-weight: bold;
}

.Cantidad{
    margin: 10px 5px;
    padding: 5px 0;
    box-sizing: border-box;
    background: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    outline: none;
    color: snow;
    cursor: default;
}

/*----------parte2----------*/

.principal2{
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.formulario2{
    flex: 1;
    width: 30%;
    padding: 100px 20px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(53, 161, 31, 0.5);
}

.labelLetra{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin: 5px 0 10px;
}

.letrac{
    text-align: center;
    width: 20%;
    font-size: 24px;
    padding: 10px 0;
    text-transform: lowercase;
}

.oracionc{
    width: 100%;
    font-size: 20px;
    padding: 10px 5px;
    box-sizing: border-box;
    text-transform: lowercase;
}

.buttonIngresar{
    margin: 20px auto;
}

.buttonIngresar button, #btncambiarLetra, #btncambiarOracion{
    font-size: 26px;
    cursor: pointer;
    color: black;
    padding: 5px 15px;
    border-radius: 1pc;
    background: snow;
}

.buttonIngresar button:hover, #btncambiarLetra:hover, #btncambiarOracion:hover{
    color: snow;
    background: black;
}

.campoPalabra{
    flex: 2;
    min-width: 70%;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    background: white;
}

.palabra-adivinar{
    padding: 10px 0;
    width: 60%;
    margin: 20px auto;
    font-size: 28px;
    border: none;
    text-align: center;
    background: rgba(139, 118, 118, 0.5);
    letter-spacing: 0.5em;
    cursor: default;
    text-transform: lowercase;
}

.palabra-adivinar:focus{
    outline: none;
}

.campoLimpiar{
    margin: 20px 0;
}

.btnLimpiar{
    font-size: 26px;
    color: snow;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 1pc;
    background: black;
}

.btnLimpiar:hover{
    color: black;
    background: transparent;
}

@media screen and (max-width: 480px){
    .principal, .principal2{
        width: 90%;
    }

    .formulario, .formulario2{
        width: 80%;
    }

    .palabra-adivinar{
        width: 100%;
    }
}

/*----------muñeco----------*/

.cabeza{
    font-size: 60px;
    font-weight: bold;

}

.cuerpo{
    margin-top: -105px;
    margin-left: 93px;
    font-size: 60px;
}

.brazo_D{
    margin-top: -60px;
    margin-left: 78px;
    font-size: 60px;
    font-weight: bold;
}

.brazo_I{
    margin-top: -60px;
    margin-left: 108px;
    font-size: 60px;
    font-weight: bold;
}

.pierna_D{
    margin-top: -10px;
    margin-left: 78px;
    font-size: 60px;
    font-weight: bold;
}

.pierna_I{
    margin-top: -60px;
    margin-left: 108px;
    font-size: 60px;
    font-weight: bold;
}

/*----------Footer----------*/

footer{
    text-align: center;
    background: rgba(0, 0, 0, 0.521);
    padding: 40px;
}

.copyright{
    color: snow;
    font-size: 16px;
    margin: 20px;
    font-weight: bold;
}